.header {
  min-width: 300px;
  &__img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  &__filter {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.781);
  }
  &__title {
    margin: 0;
    width: 25%;
    font-size: 15vw;
    position: relative;
    left: 35%;
    top: -12.5rem;
    color: rgb(37, 146, 209);
    filter: drop-shadow(2px 2px 1px #000000);
  }

  &__menu {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    &__left {
      width: 50%;
      display: flex;
      align-items: center;
      &__logo {
        color: #ffffff;
        font-size: 2rem;
        position: relative;
        float: left;
        position: relative;
        left: 5%;
      }
      &__logo:hover {
        color: #ff5e00;
      }
      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(36, 34, 34, 0.541);
        color: #ffffff;
        width: 5rem;
        height: 2.5rem;
        border-radius: 8px;
        margin: 0.5rem;
        position: relative;
        left: 20vw;
      }
      &__link:hover {
        background-color: #ff5e00;
      }
    }
    &__right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__searchbar {
        position: relative;
        height: 1.5rem;
        width: 12vw;
        border-radius: 2px;
        padding-left: 1rem;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}
