.gallery {
  background-color: #f3e6de;
  &__title {
    &__text {
      color: black;
      font-style: italic;
    }
  }
  &__pictures {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 25rem;

    &__item {
      box-sizing: content-box;
      width: auto;
      height: 300px;
      margin: 0.2rem;
    }
  }
}
